<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>
        <%= title %>
      </h1>
      <p></p>
    </div>
  </div>
  <div class="container">
    <form class="addUser-form" action="/ta02/addUser" method="POST">
      <input type="text" name="addUser">
      <button type="submit">Add User</button>
    </form>
    <ul>
      <% for (const user of users) { %>
      <li><%= user %></li>
      <% } %>
    </ul>
    <form class="removeUser-form" action="/ta02/removeUser" method="POST">
      <input type="text" name="removeUser">
      <button type="submit">Remove User</button>
    </form>
  </div>


</body>

</html>